content{
max-width: 1600px;
text-align: center;
}

#background{
    height: 725px;
}

body{
    background-color: aliceblue;
    text-align: center;
    padding: 0;
    margin: 0;
}

header {
    background-color: aquamarine;
}

nav a:hover{
    background-color: rgb(216, 17, 227);
    color: blue;
}

.logo{
    width: 80px;
}

nav a{
    text-align: center;
    color: crimson;
    text-decoration: none;
    padding: 35px;
}

footer p a:hover{
    text-decoration: underline;
}

.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    
}

.book{
    font-size: 18px;
    margin-top: 50px;
}

.msg p{
    font-size: .8em;
}

.msg{
    background-color: #6f7364;
    line-height: 1.5em;
}

h2{
    margin: 0;
}

.card-img{
    border: 10px solid lightskyblue;
}