body{
    text-align: center;
}


a {
    margin: 40px;
    background-color: blue;
    font-size: 1.5em;
    color: white;
    padding: 10px;
    text-decoration: none;
}

#active {
    background-color: white;
    color: steelblue;
}
h1{
    color: aquamarine;
}

img{
    width: 80%;
    border: 4px solid blue;
    border-radius: 50px;
}


 .para{
    font-size: 1.5em;
    line-height: 1.5em;
    width: 80%;
}